* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  

@font-face {
    font-family: "MontserratR";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratS";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "MontserratB";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "MontserratBI";
    src: url(../fonts/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: "MontserratM";
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "Audiowide";
    src: url(../fonts/Audiowide-Regular.ttf);
}

$MontserratR : "MontserratR" , sans-serif;
$MontserratS : "MontserratS" , sans-serif;
$MontserratB : "MontserratB" , sans-serif;
$MontserratBI : "MontserratBI" , sans-serif;
$MontserratM : "MontserratM" , sans-serif;
$Audiowide : "Audiowide" , sans-serif;


.chapter1{
    background-image: url(../img/Chapter_1/chap1_bg.jpg);
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 35px;


    .row{
        width: 100%;
        margin: 0 auto;
    }
    .msgs{
        img{
            margin-right: 4px;
        }
    }

}
.header_nav{
    align-items: center;
}
.logo {
    margin-right: 55px;
}
.nav_input{
    width: 260px;
    height: 39px;
    border: 1px solid #ffffff;
    background:none;
    border-radius: 20px;
    padding: 10px 30px 10px 16px ;
    color: #fff;
    font-family: $MontserratS;
    font-size: 21.9px;
    line-height: 38px;
    text-align: right;
    &::placeholder{
        color: #fff;
    }
    &:focus {
        border: 1px solid #532DEE;
    }
    &:focus::placeholder{
        color: transparent;
    }
}

.nav_link {
    text-decoration: none;
    font-family: $MontserratS;
    font-size: 21.9px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1.7px;
    color: #fff;
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    
    &:hover{
        color: #532DEE;
        transition: 0.25s;
    }
    &:hover::after{
        opacity:1;
    }
    &::after{
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        margin-top: 7px;
        background-color: #532DEE;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opasity .2s linear;
    }
    &:hover::after{
        content:"";
        display: block;
        width: 100%;
        background: #532DEE;
    }
}

.nav_link4{
    font-family: $MontserratS;
    font-size: 21.9px;
    line-height: 21px;
    color: #fff;
    margin-left: -10px;
    display: inline-block;
    position: relative;

        
    &:hover{
        color: #532DEE;
        transition: 0.25s;
    }
    &:hover::after{
        opacity:1;
    }
    &::after{
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        margin-top: 7px;
        background-color: #532DEE;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opasity .2s linear;
    }
    &:hover::after{
        content:"";
        display: block;
        width: 100%;
        background: #532DEE;
    }
}

.btn-group{
    display: none;
}



// Устройства X-Small (портретные телефоны, менее 576 пикселей)
@media (min-width: 320px) and (max-width: 575.98px) {
    .nav_links{
        display: none;
    }
    .logo{
        display: none;
    }
    .row{
        margin: 0 auto;
        align-items: center;
    }
    .msgs{
        display: none;
    }
    .btn-group{
        margin-top: -15px;
        display: block;
    }
    .nav_input{
        min-width: 100%;
        margin-bottom: 50px;
        margin-top: 18px;
    }
}

// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (min-width:576px) and (max-width: 767.98px) {
    .row{
        margin: 0 auto;
    }
    .nav_links{
        display: none;
    }
    .nav_input{
        width: 290px;
    }
    .btn-group{
        margin-top: 15px;
        display: block;
    }
    .msgs{
        display: none;
    }
}

@media (max-width:991.8px) {
    .header_nav{
        align-items: center;
    }
    .btn-group{

        display: inline-block;
        width: 200px;
        margin-bottom: -20px;
    }
    .btn{
        margin-bottom: 5px;
    }
    .dropdown-item{
        font-family: $MontserratS;
        font-size: 19px;
        margin-top: 2px;
        line-height: 21px;
        color: #000;
    }
    .dropdown-menu{
        border-radius: 20px;
        margin-left: 13px;
        width: 91%;
        
    }
    .btn-primary{
        font-size: 20px;
        font-family: $MontserratS;
        color: #fff;
        max-width: 100%;
        width: 100%;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
        margin-top: -12px;
        border-radius: 20px;
        &:hover{
            background-color: #0b5ed7;
            border-color: #0a58ca;
        }
    }
}

@media (max-width: 767.98px) {
    .logo{
        display: none;
    }
    .btn-primary{
        font-size: 17px;
        margin-top: -34px;
    }
}

// Устройства Medium (планшеты, менее 992 пикселей)
@media (min-width:768px) and (max-width: 991.98px) {
    .row{
        margin: 0 auto;
    }
    .msgs{
        display: none;
    }
    .nav_links{
        display: none;
    }
    .nav_input{
        width: 300px;
    }
    .btn-group{
        padding: 10px;
    }
}


// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (min-width:992px) and (max-width: 1199.98px) {
    .msgs{
        display: none;
    }
    .nav_input{
        width: 240px;
    }
    .nav_link{
        margin-left: -10px;
    }
}

// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)
@media (min-width:1200px) and (max-width: 1399.98px) {
    .msgs{
        img{
            margin-top: 5px;
        }
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50.9%;
    }
    form{
        margin-right: 10px;
    }
    .nav_input{
        width: 220px;
        margin-left: -20px;
    }
 }



 @media (min-width:1400px){
     .container {
         width: 100%;
     }
     .row{
        margin: 0 auto;
     }

 }


.future{
    margin-top: 165px;
    align-items: center;

}


.future_info{
    height: 340px;
}

 .title{
    font-family: $Audiowide;
    font-size: 103.8px;
    line-height: 96px;
    font-weight: 400;
    letter-spacing: -0.95px;
    color: #ffffff;

 }
 .sub_title{
    font-family: $MontserratS;
    font-size: 58.4px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-top: 11px;
    margin-bottom: 25px;
 }
 .text{
    font-family: $MontserratS;
    font-size: 26.4px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 45px;
 }
 
 .future_button{
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 27px;
    font-family: $MontserratR;
    background:none;
    font-size: 27.6px;
    line-height: 37px;
    font-weight: 400;
    padding: 10px 90px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: 0.25s;
    &:hover{
        border: 2px solid #0a58ca;
        color: #0a58ca;
    }
 }




.future_info2{
    text-align: left;

    .title{
        font-family: $Audiowide;
        font-size: 54.1px;
        line-height: 61px;


    }
    .sub_title{
        font-family: $MontserratS;
        font-size: 36.7px;
        line-height: 1.2;


    }
    .text{
        font-family: $MontserratS;
        font-size: 25px;
        line-height: 33px;
        width: 523px;
        max-height: 125px;

    }

}

@media (max-width: 426.98px){
    .future_info{
        margin-bottom: 20%;
    }
}

@media (min-width: 320px) and (max-width: 575.98px) {
    
    .pec{
        padding: 0;
    }
    .pec_text{
        br{
            display: none;
        }
    }
    .future{
        margin-top: 125px;
    }
    .title{
        font-size: 50.8px;
        line-height: 46px;
    }
    .sub_title{
        font-size: 37px;
    }

    .future_img{
        margin-top: 25%;
    }
    .future_img2{
        margin-top: 25%;
    }
    .future_button{
        padding: 10px 30px;
    }


    .future_info2{
        margin-top: -10%;
        .future_btn{
            width:auto;
        }
        .title{
            font-size: 45.8px;
        }
        .sub_title{
            margin: 3% auto 15%;
        }
        .text{
            margin-top: -5%;
            width: 100%;

        }
    }

}

// Устройства Medium (планшеты, 768 пикселей и выше)
@media (min-width: 576px) and (max-width: 767.98px) {
    .future_info{
        margin-bottom: 20%;
        width: auto;
        .title{
            font-size: 50px;
        }
    }
    .future_info2{
        text-align: left;
        width: auto;
        .text{
            width: 300px;
        }
    }
    .future_img2{
        margin-top: 20%;
    }
}

// Устройства Large (настольные компьютеры, 992 пикселей и выше)
@media (min-width: 768px) and (max-width: 991.98px) {
    .future_img{
        margin-top: 30%;
    }
    .future_img2{
        margin-top: 10%;
    }
 }

// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .future_info{
        margin-bottom: 20%;
        
    }
    .future_img2{
        margin-top: 10%;
    }
}

// Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше)
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .future_info{
        margin-bottom: 26%;
    }
    .future_info2{
        .text{
            width: 650px;

        }
    }
    .future_img2{
        margin-top: 10%;
    }
}



.pec_bg{
    padding: 160px 56px 102px;
    background-image: url(../img/Chapter_1/after_header/Gradient_bg.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: center center;


    .row{
        align-items: center;

    }

}

.pec{
    border-radius: 20px;
}


.pec_item{
    text-align: center;
    max-height: 370px;
    
}

.pec_item2{
    margin-top: -39px;
}
.pec_title{
    font-family: $MontserratB;
    font-size: 33.4px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin-top: 45px;
    margin-bottom: 23px;
}

.pec_text{
    font-family: $MontserratR;
    font-size: 24.5px;
    line-height: 1.19;
    color: #fff;

}

// Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше)
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .pec_bg{

        .row{
            padding-bottom: 130px;
        }
    }
    .pec_col_2{
        margin-top: 8%;
        margin-bottom: 8%;
    }
}

@media (min-width: 320px) and (max-width: 575.98px) {
    .pec{
        margin-top: -27%;
    }
    .pec_bg{
        background-image: none;

    }
    .pec_img{
        display: none;
    }
    .pec_col_2{
        margin-top: 15%;
        margin-bottom: 15%;
    }
    

}

// Устройства Medium (планшеты, 768 пикселей и выше)
@media (min-width: 576px) and (max-width: 767.98px) {
    .pec_bg{
        background-image: none;
    }
    .pec_col_2{
        margin-top: 20%;
        margin-bottom: 15%;
    }
}

// Устройства Large (настольные компьютеры, 992 пикселей и выше)
@media (min-width: 768px) and (max-width: 991.98px) {
    .pec_bg{
        background-image: none;
    }
    .pec_col_2{
        margin-top: 8%;
        margin-bottom: 8%;
    }
 }

// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .pec_bg{
        background-image: none;
    }
    .pec_col_2{
        margin-top: 8%;
        margin-bottom: 8%;
    }
}



.card_title{
    font-family: $MontserratS;
    font-size: 29.3px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: 2.93px;
    text-align: center;
    color: #fff;
    margin-top: 55px;
    margin-bottom: 48px;
}

.card_item{
    position: relative;
    text-align: center;
    padding: 75px 12px 137px 12px;
    background-image: url(../img/Chapter_1/Cards/card_bg.png);
    background-size: 100% 100%;
}
.card_title{
    font-family: $Audiowide;
    font-size: 34.7px;
    line-height: 43px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff;
}
.card_img2{
    margin-top: 15px;
}
.card_title2{
    margin-top: 38%;
}

.card_text{
    font-family: $MontserratR;
    font-size: 16.5px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin: 0 54px 40px;
}
.card_button{
    width:200px;
    margin: 0 auto;
    .card_link{
        width: 100%;
        border: 2px solid #ffffff;
        border-radius: 27px;
        font-family: $MontserratR;
        background:none;
        font-size: 16.5px;
        line-height: 22px;
        font-weight: 400;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        transition: 0.25s;
        &:hover{
            border: 2px solid #0a58ca;
            color: #0a58ca;
        }
    }
}

.chapter1_h3{
    font-family: $MontserratR;
    font-size: 25px;
    line-height: 33px;
    font-weight: 400;
    color: #ffffff;
    margin: 70px auto;


}
.future2{
    .row{
        align-items: center;
    }
    margin-bottom: 5%;
}
.smart_home{
    padding-left: 105px;
    margin-bottom: 200px;


}

.chapter2{
    background-image: url(../img/Chapter_2/principal_bg-2.png);
    background-size: cover;
    padding-top: 210px;
    padding-bottom: 150px;
}


.smart_info{
    text-align: left;
}

.smart_info_title{
    font-family: $Audiowide;
    font-size: 88.5px;
    line-height: 117px;
    color: #ffffff;   
}

.smart_info_text{
    font-family: $MontserratR;
    font-size: 25px;
    line-height: 33px;
    color: #ffffff;
}


.smart_info_button{
    width: 328px;
    margin-top: 5%;

}
.smart_link{
    font-family: $MontserratR;
    font-size: 27.6px;
    line-height: 37px;
    color: #ffffff;
    width: 100%;
    text-decoration: none;
    -webkit-transition: 0.25s;
    padding: 15px 85px;
    border-radius: 27px;
    background: none;
    border: 2px solid #ffffff;
    transition: 0.25s;
    &:hover{
        border: 2px solid #0a58ca;
        color: #0a58ca;
    }
}


@media (min-width: 320px) and (max-width: 575.98px) {
    .smart_info_title{
        font-size: 71.5px;
        line-height: 73px;
        margin-bottom: 8%;
        margin-top: 12%;
    }
    .smart_info_button{
        margin-top: 15%;
        .smart_link{
            padding: 15px 45px;
        }
    }


    .smart_img{
        margin-top: -27%;
        margin-left: 0%;
        margin-bottom: 12%;
        width: 100%;
    }
    .smart_home{
        padding: 0;
    }
}

// Устройства Medium (планшеты, 768 пикселей и выше)
@media (min-width: 576px) and (max-width: 767.98px) {
    .smart_img{
        margin: -22% auto 10% 0;
    }
    .smart_home{
        padding: 0;
    }
    .smart_info_button{
        margin-top: 10%;
    }

}

// Устройства Large (настольные компьютеры, 992 пикселей и выше)
@media (min-width: 768px) and (max-width: 991.98px) {
    .smart_img{
        width: 633px;
        margin: -22% auto 10% 0;
    }

 }

// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .smart_img{
        width: 80%;
        margin: -20% 5% 10% 8%;
    }
}

// Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше)
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .smart_img{
        margin: 0 auto 10% 4%;
        width: 84%;
    }
}

@media (min-width: 1400px) {
    .samrt_home{
        padding: 0;
    }
}


.monitor_info{
    margin-right: 5%;
}
.monitor_home{
    align-items: center;
}

.monitor_title{
    font-family: $Audiowide;
    font-size: 58.4px;
    line-height: 66px;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-align: left;

}

@media(max-width:1400px){
    .monitor_img{
        display: none;
    }
}

@media(min-width:1400px){
    .monitor_title{
        width: 408px;
    }
}
.monitor_list{
    text-align: left;
    margin-top: 102px;
    margin-bottom: 102px;
    li{
        font-family: $MontserratR;
        font-size: 25px;
        line-height: 33px;
        color: #ffffff;
        list-style-type: disc;
        margin-bottom: 42px;
    }
}

.sub_num_cont{
    text-align: center;
}

.monitor_subtitle{
    font-family: $MontserratB;
    font-size: 38.3px;
    line-height: 76px;
    font-style: italic;
    letter-spacing: 0.2em;
    color: #ffffff;
}
.monitor_numbers{
    font-family: $MontserratB;
    font-size: 76.6px;
    line-height: 76px;
    font-style: italic;
    letter-spacing: 0.2em;
    color: #ffffff;
}
.monitor_text{
    font-family: $MontserratS;
    font-size: 25px;
    line-height: 41px;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.monitor_statisctic{
    width: 475px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}
.box_1{
    width: 206px;
    height: 66px;
    border: 3px solid #ffffff;
}
.box_2{
    width: 206px;
    height: 66px;
    border: 3px solid #ffffff;
}

.monitor_img{
    position: relative;
    padding: 0;
}

.phone_skelet{
    position: relative;
    bottom: -10%;
}


.phone_bg{
    position: absolute;
    top: 1.8%;
    left: 10.3%;
}
.phone_logo{
    position: absolute;
    top: 12.8%;
    left: 43%;
}
.monitor_img{
    margin-left: 47px;
}
.home{
    position: absolute;
    top: 40.8%;
    left: 16.3%;
}
.phone_text{
    position: absolute;
    top: 25.8%;
    left: 33%;
    max-width: 224px;
    min-width: 215px;
    max-height: 76px;
    min-height: 76px;
    text-align: center;
    font-family: $Audiowide;
    font-size: 38.3px;
    line-height: 47px;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #ffffff;
}

.phone_button {
    position: absolute;
    top: 78.8%;
    left: 26.1%;
    .smart_link{
        padding: 15px 35px;
    }
}

@media(max-width:1199.98px){
    .monitor_img{
        display: none;
    }
}

@media(max-width:575.98px){
    .monitor_title{
        font-size: 40.4px;
    }

    .monitor_numbers{
        font-size: 61.6px;
    }
    .monitor_statisctic{
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .box_1{
        margin: 0 auto;
        margin-top: 5%;
    }
    .box_2{
        margin: 0 auto;
        margin-top: 5%;
    }
}

@media(max-width:720px){
    .smart_info{
        padding-left: 5%;
    }
    .monitor_title{
        width: auto;
        font-size: 40px;

    }
}

@media(max-width:767.98px) and (max-width:991.98px){
    .monitor_title{
        width: auto;

    }
    .smart_home{
        padding: 0;
        .container{
            max-width: fit-content;
            margin: inherit;
        }
    }
}
.security_img{
    margin-bottom: 5%;
}
.security{
    .row{
        align-items: center;
    }
    margin-top: 8%;
    margin-bottom: 140px;
}

.security_info{
    text-align: left;
    margin-top: -5%;
    margin-left: auto;
}

.security_title{
    font-family: $MontserratS;
    font-size: 58.4px;
    line-height: 66px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.security_text{
    font-family: $MontserratR;
    font-size: 25px;
    line-height: 33px;
    color: #ffffff;
    margin-top: 114px;
    margin-bottom: 87px;
}

.about_item{
    display: flex;
    font-family: $MontserratR;
    font-size: 23.1px;
    line-height: 28px;
    color: #ffffff;
    align-items: center;
    margin-bottom: 15px;
}

.about_item_img{
    margin-right: 27px;
}

.security_about{
    display: flex;
    flex-direction: column;
}

.geo{
    margin-right: 27px;
    margin-left: 5px;
}

@media (max-width:1399.98px) {
    .security_img{
        display: none;
    }
    .security_info{
        margin-top: 5%;
    }
}

@media (max-width:409.98px){
    .security_title{
        font-size: 40px;
    }
    .security_text{
        margin-top: 13%;
    }
}

.price_title{
    font-family: $MontserratS;
    font-size: 41.7px;
    line-height: 53px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin-bottom: 70px;
}
.price{
    background-image: url(../img/Chapter_2/price/cards_bg.png);
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 143px 72px 103px;
    .row{
        text-align: center;
    }
}
.price_item{
    margin: 0 auto;
}
.price_item3{
    margin: 0 auto;
}

@media (max-width: 991.98px){
    .price{
        padding-bottom: 22%;
    }
}
@media (max-width: 703.98px){
    .price{
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 30%;
    }
}

footer{
    background-color: #a12fb1;

    padding: 92px 136px 100px;
    
}
.about_title{
    font-family: $MontserratS;
    font-size: 25px;
    line-height: 33px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
.chapter2{
    padding-bottom: 100px;
}


.about_text{
    font-family: $MontserratS;
    font-size: 18.8px;
    line-height: 29px;
    font-weight: 600;
    color: #ffffff;
}
.footer_about_title{
    font-family: $MontserratS;
    font-size: 20.9px;
    line-height: 33px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
.footer_about_text{
    font-family: $MontserratR;
    font-size: 18.8px;
    line-height: 29px;
    color: #ffffff;
}


.color_end{
    width: 100%;
    height: 75px;

    background: #a12fb1;
}

@media(min-width: 409px) and (max-width: 572.98px){

}


@media(min-width: 320px) and (max-width: 399.98px){

}

@media(min-width: 320px) and (max-width: 369.98px) {
    .footer_home{
        margin-top: 10%;
        margin-right: 5%;
    }
    .footer_contact{
        margin-top: 15%;
    }

    .footer_service{
        margin-top: 15%;
    }
}



@media(min-width:320px)and(max-width: 328.98px){
    .footer_contact{
        min-width: 53%;
    }
    .footer_home{
        min-width: 53%;
    }
}


@media(max-width: 354.98px){
.about_item_img{
    margin-right: 13px;
}
.geo{
    margin-right: 20px;
}
}



@media(max-width: 334.98px){
    .footer_contact{
        width: 51%;
    }
    .footer_home{
        width: 51%;
    }
}


@media(min-width: 320px) {
    footer{
        padding: 92px 10px 130px;
    }
    .footer_about{
        margin-bottom: 5%;
    }

    .footer_service{
        margin-top: 15%;
    }
}

@media(min-width: 576px) {
    footer{
        padding: 92px 50px 130px;
    }
    .footer_about{
        margin-bottom: 5%;
    }
    .footer_home{
        margin-right: 10%;
    }
    .footer_service{
        margin-top: 5%;
    }

}

@media (min-width: 768px){
    footer{
        padding: 92px 50px 130px;
    }
    .footer_about{
        margin-bottom: 5%;
    }
    .footer_service{
        margin-top: 0;
    }
    .footer_home{
        margin-right: 0;
    }
    .smart_home{
        padding-left: 0;

    }
}


@media (min-width: 992px){

footer{

    .footer_about{
        margin-bottom: 5%;
    }
    .footer_service{
        margin-top: 0;
    }
    .footer_home{
        margin-right: 0;
    }


}

@media (min-width: 1200px) {
    footer{
        padding: 92px 100px 130px;
        .container{
            margin: 0;
        }
        .footer_about{
            max-width: 385px;
            margin-right: 5%;
        }
        .footer_service{
            margin-top: 0;
        }
    }
}


@media (min-width: 1400px) {

    footer{
        padding: 92px 130px 130px;
        .container{
            margin: 0 auto;
        }
        .footer_about{
            margin-right: 15%;
        }
        .footer_service{
            margin-top: 0;
        }
        .footer_home{
            margin-right: 0;
        }
    }

}
}


@media (min-width: 1400px){
    .smart_home{
        .container{
            max-width:1500px;
        }
        .smart_img{
            flex: 0 0 auto;
            width: 44.666667%;
            margin-right: 3%;
        }
    }
}

